@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: "NewYork";
    src: url("/fonts/newyork/NewYork.woff2") format("woff2"), url("/fonts/newyork/NewYork.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* --bg_main: #5e6563; */
    --bg_main: #fff;
    /* --bg-sec: #C89A36; */
    --bg-sec: #e9f0ee;
    --bg-ter: #C89A36;
    /* --main_color: #E8E8D7; */
    --main_color: #333333;
    --montserrat: "Montserrat", sans-serif;
    --newyorkFont: "NewYork", sans-serif;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

*::selection {
    background-color: var(--main_color);
    color: var(--bg_main);
}

body {
    color: #333333;
    font-family: var(--montserrat);
}

section {
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--newyorkFont);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

/* Target the specific number input and hide the spin buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox, you may need this additional CSS rule */
input[type="number"] {
  -moz-appearance: textfield;
}

.w-screen {
    width: 100vw;
}

.max-w-full {
    max-width: 100%;
}

.w-full {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.max-h-screen {
    max-height: 100vh;
}

.h-130 {
    height: 130%;
}

.newyorkFont {
    font-family: var(--newyorkFont);
}

.montserratFont {
    font-family: var(--montserrat);
}

.main_heading {
    font-size: clamp(50px, 15vw, 190px) !important;
}

.sec_heading {
    font-size: clamp(35px, 6.5vw, 70px) !important;
}

.ter_heading {
    font-size: clamp(30px, 3vw, 41px);
}

.small_heading {
    font-size: clamp(23px, 4vw, 30px) !important;
}

.xs_heading {
    font-size: 23px !important;
}

.sub_heading {
    font-size: 18px !important;
}

.text_xs {
    font-size: 14px !important;
}

.main_spacer {
    padding-block: 150px !important;
}

.main_spacer_top {
    padding-top: 150px !important;
}

.main_spacer_bottom {
    padding-bottom: 150px !important;
}

.place-items-center {
    place-items: center;
}

.bg_main {
    background-color: var(--bg_main);
    color: var(--main_color);
}

.bg_sec {
    background-color: var(--bg-sec);
}

/* Main */

.enquire_modal {
    inset: 0;
    z-index: 11;
    transform: translateY(-120%);
    transition: transform 0s .3s, background-color .2s ease-in-out;
}

.enquire_modal.active {
    background-color: rgba(0, 0, 0, 0.40);
    transform: translateY(0);
    transition: transform 0s, background-color .2s ease-in-out;
}

.enquire_modal .modal_content {
    color: #333333;
    border-radius: 14px;
    background-color: var(--bg_main);
    transform: translateY(-70px);
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.enquire_modal.active .modal_content {
    opacity: 1;
    transform: translateY(0);
}

.enquire_form form input {
    outline: none;
    padding: 8px 6px;
    border-radius: 8px;
    border: 1px solid #5e656343;
    transition: border .1s ease-in-out;
}

.enquire_form form input:hover {
    border: 1px solid #5e656366;
}

.enquire_form form input:focus {
    border: 1px solid #5e656399;
}

.enquire_form form button {
    outline: none;
    background-color: #fff;
    border-radius: 8px;
    padding: 7px 20px;
    border: 1px solid #5e656355;
}

.enquire_form form button:hover {
    border: 1px solid #5e656399;
}

.fixed_contact {
    right: -100px;
    top: 40%;
    z-index: 12;
    transform: rotate(-90deg);
}

.fixed_contact a {
    color: #fff;
    text-transform: uppercase;
    padding: 7px 20px;
    background-color: var(--main_color);
}

.chat_box {
    position: fixed;
    right: 10px;
    bottom: 30px;
    z-index: 12;
    max-width: 70px;
    transition: transform .2s ease-in-out;
}

.chat_box:hover {
    transform: scale(1.1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-top: 30px;
    transform-origin: top;
    /* background-color: var(--bg_main); */
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    backdrop-filter: blur(2px);
}

.header.hide {
    opacity: 0;
    transform: scaleY(0);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.header .nav_wrapper ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header .nav_wrapper ul li a {
    color: var(--main_color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    letter-spacing: 4.32px;
}

.header.dark .nav_wrapper ul li a {
    color: #000;
}

.header .nav_wrapper ul li a.active {
    border-bottom: 2px solid var(--main_color);
}

.header.dark .nav_wrapper ul li a.active {
    border-bottom: 2px solid #000;
}

.header .nav_wrapper ul li a.contact {
    border: 2px solid var(--main_color);
}

.header.dark .nav_wrapper ul li a.contact {
    border: 2px solid #000;
}

.main_section .logo_wrapper {
    max-width: 130px;
}

.main_section .images_overlay .inner {
    transform: translateY(-750px) rotate(15deg);
    z-index: 1;
    max-height: 1100px;
}

.main_section .images_overlay .inner .first_row,
.main_section .images_overlay .inner .third_row {
    transform: translateX(-400px);
}

.main_section .images_overlay .inner .second_row {
    transform: translateX(100px);
}

.main_section .floating_text {
    left: 80px;
    top: 50%;
    text-align: end;
    line-height: 2;
    transform: translateY(-50%);
}

.animated_lines {
    overflow-y: hidden;
    width: fit-content;
    height: 100%;
}

.animated_lines p {
    transform: translateY(200%) rotate(4deg);
    margin-bottom: 3px;
    white-space: nowrap;
    transition: transform .4s ease-in-out;
}

.main_section .main_heading {
    /* color: #E8E8D7; */
    /* color: #C89A36; */
    /* color: #771714; */
    color: #000;
    width: fit-content;
    position: absolute;
    bottom: -100px;
    left: 10%;
    mix-blend-mode: difference;
    line-height: .9;
}

.images_overlay .img_wrapper {
    max-width: 700px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.images_overlay .inner .hstack > div {
    height: 100%;
    flex-shrink: 0;
}

.images_overlay .img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images_overlay .inner>div {
    margin-bottom: 2.7rem;
}

.main_section .absolute_block {
    width: 100%;
    z-index: 4;
    height: 400px;
    background-color: var(--bg_main);
}

section.about_section {
    position: relative;
    z-index: 5;
    padding-top: 50px;
}

.content_section .img_wrapper {
    max-height: 700px;
}

.linesDiv {
    position: relative;
    overflow: hidden;
}

.linesDiv .icon_wrapper {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border: 1px solid var(--main_color);
}

.linesDiv .icon_wrapper svg {
    transition: transform .4s ease-in-out ;
}

.linesDiv:hover .icon_wrapper svg {
    transform: rotate(90deg);
}

.underLine {
    position: relative;
}

.underLine::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 2px;
    width: 100%;
    background: rgba(232, 232, 215, 0.35);
}

.linesDiv::before,
.linesDiv::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 2px;
    right: 0;
    background-color: #333333;
    opacity: .15;
}

.linesDiv::after {
    width: 0px;
    background-color: #333333;
    opacity: .35;
    transition: width .5s ease-in-out;
}

.linesDiv:hover::after {
    width: 100%;
}

.linesDiv a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    clip-path: inset(100% 0 0 0);
    transition: clip-path 0.35s ease-in 0s;
}

.linesDiv a {
    transition: padding-left .2s ease-in-out;
}

.linesDiv:hover a {
    padding-left: 20px;
}

.linesDiv:hover a::before {
    clip-path: inset(0 0 0 0);
}

.linesDiv:hover p, .linesDiv:hover h1 {
    animation: textAnimator 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 1 forwards;
}

@keyframes textAnimator {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    40% {
        transform: translateY(-60%);
        opacity: 0.3;
    }

    35% {
        transform: translateY(-60%);
        opacity: 0;
    }

    40% {
        opacity: 0;
        transform: translateY(100%);
    }

    43% {
        opacity: 0;
        transform: translateY(100%);
    }

    95% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.chapter_one_section {
    color: #333333;
}

.main_projects_section .project_selector {
    position: sticky;
    top: 100px;
    bottom: 50px;
    transform: scaleY(0);
    transition: transform .35s ease-in-out;
}

.main_projects_section .project_selector > div {
    border-radius: 26px;
    background-color: rgba(34,34,34,0.8);
}

.main_projects_section .project_selector .gooey {
    border-radius: 26px;
    border: rgba(255,255,255,0.2) 1px solid;
    background-color: rgba(30,30,30,0.8);
    transition: left .2s ease-in-out, top .2s ease-in-out, width .2s ease-in-out, height .2s ease-in-out;
}

.main_projects_section .project_selector a {
    outline: none;
    color: #fff;
    line-height: 48px;
    text-align: center;
    z-index: 1; 
    font-size: 18px;
    border-radius: 26px;
    padding: 0 15px;
    background-color: transparent;
    overflow: hidden;
    border: rgba(255,255,255,0.2) 1px solid;
    /* transition: all .2s ease-in-out .1s; */
}

.main_projects_section .project_heading {
    position: sticky;
    top: 0;
    z-index: 2;
}

.main_projects_section .project_heading>div {
    height: 150px;
    overflow: hidden;
}

.main_projects_section .project_heading .img_wrapper {
    position: absolute;
    height: 100%;
    opacity: .07;
    top: 50%;
    transform: translate(0%, -50%);
}

.main_projects_section .project_heading .img_wrapper h1 {
    color: #fff;
}

.main_projects_section .project_content {
    color: #333333;
}

.main_projects_section .left_content {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.main_projects_section .project_content .right_content {
    padding: 0 50px;
}

.main_projects_section .project_content .right_content .point {
    width: fit-content;
    margin: 0 auto;
}

.main_projects_section .project_content .right_content .point.main {
    background-color: #fff;
    padding-right: 10px;
}

.main_projects_section .project_content .right_content .point.main .img_wrapper {
    max-width: 400px;
}

.main_projects_section .project_content .right_content .points_wrapper .point {
    padding-bottom: 150px;
}

.main_projects_section .project_content .right_content .points_wrapper .point h1 {
    color: #586166;
}

.main_projects_section .project_content .right_content .points_wrapper .point h1.ter_heading {
    opacity: .15;
}

.main_projects_section .project_content .right_content .points_wrapper .point p {
    bottom: -7px;
    left: 10px;
    color: #586166;
}

.main_projects_section .project_content .right_content .points_wrapper .point .img_wrapper {
    max-width: 350px;
}

.kitchen_section .kitchen_items,
.hscroll_section .items,
.balcony_section .items,
.community_section .items {
    overflow: hidden;
}

.kitchen_section .kitchen_items .content_wrapper,
.hscroll_section .items .content_wrapper,
.balcony_section .items .content_wrapper,
.community_section .items .content_wrapper {
    padding-left: 80px;
    gap: 0 50px;
}

.kitchen_section .kitchen_items .item,
.hscroll_section .items .item,
.balcony_section .items .item,
.community_section .items .item {
    width: 100%;
    max-width: 350px;
    flex-shrink: 0;
}

.kitchen_section .kitchen_items .item:nth-child(even),
.hscroll_section .items .item:nth-child(even),
.balcony_section .items .item:nth-child(even),
.community_section .items .item:nth-child(even) {
    transform: translateY(100px);
}

.kitchen_section .kitchen_items .item:last-child,
.hscroll_section .items .item:last-child,
.balcony_section .items .item:last-child,
.community_section .items .item:last-child {
    max-width: 450px;
    padding-right: 100px;
}


.kitchen_section .kitchen_items .item .img_wrapper,
.hscroll_section .items .item .img_wrapper,
.balcony_section .items .item .img_wrapper,
.community_section .items .item .img_wrapper {
    max-width: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.projects_section .images_wrapper {
    width: 90%;
    margin: 0 auto;
}

.projects_section .images_wrapper .img_wrapper {
    max-width: 300px;
    min-width: 300px;
}

.projects_section .content_wrapper {
    opacity: 0;
    transition: opacity .3s ease-in-out, transform .4s ease-in-out;
}


.key_list_section .underLine::before {
    background: rgba(81,85,81,0.45);
}

.key_list_section .content_wrapper .linesDiv {
    padding: 60px 30px 60px 30px;
}

.key_list_section .content_wrapper .linesDiv::before {
    background: rgba(81,85,81,0.1);   
}

.key_list_section .content_wrapper .linesDiv::after {
    background: rgba(81,85,81,0.45);   
}

.key_list_section .linesDiv a::before {
    background: rgba(255,255,255,0.75);
    transition: clip-path 0.25s ease-in 0s;
}

.key_list_section .linesDiv .img_wrapper {
    max-width: 150px;
    min-width: 150px;
    border-radius: 60px;
    overflow: hidden;
    transition: border-radius .45s ease-in-out;
}

.key_list_section .linesDiv:hover .img_wrapper {
    border-radius: 7px;
}

.key_list_section .linesDiv .icon_wrapper {
    width: 40px;
    height: 40px;
    border: 1px solid #333333;
}

.bg_img_itself {
    display: none;
    position: fixed;
    inset: 0;
    background-repeat: no-repeat;
    filter: blur(20px);
    /* background: rgba(0, 0, 0, 0.65); */
    background-blend-mode: overlay;
    pointer-events: none;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* .bg_img_section, .projects_section{
    color: var(--main_color);
    background-color: #323332;
} */

.bg_img_section .linesDiv {
    transition: color .2s ease-in-out;
}

.bg_img_section .linesDiv:hover a {
    padding-left: 0;
}

.bg_img_itself .right_wrapper .linesDiv:hover .icon_wrapper {
    border: 1px solid #fff;
}

.bg_img_section .linesDiv:hover {
    color: #fff;
}

.bg_img_section .linesDiv a::before {
    background: none;
}

.bg_img_section .linesDiv a p {
    animation: none;
}

.bg_img_section .linesDiv .content .hstack > p {
    transition: opacity .2s ease-in-out;
}

.bg_img_section .linesDiv:hover .content .hstack > p {
    opacity: 0;
}

.bg_img_section .linesDiv .content .hstack > div {
    transition: transform .2s ease-in-out;
}

.bg_img_section .linesDiv:hover .content .hstack > div {
    transform: translateX(-30px);
}

footer {
    background-color: #000;
    padding-block: 100px 50px;
}

footer .top_logos .logo_wrapper {
    margin-block: 30px;
}

footer .top_logos .logo_wrapper img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 150px;
    height: 50px;
    max-width: 100%;
}

footer .bottom_logos {
    padding-top: 100px;
}

footer .bottom_logos .logo_wrapper {
    margin-block: 30px;
}

footer .bottom_logos .logo_wrapper img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 80px;
    height: 50px;
    max-width: 100%;
}

footer .bottom_footer {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

footer .bottom_footer h2 {
    font-size: 12px;
    margin: 0;
}

footer .bottom_footer p {
    font-size: 10px;
    margin: 0;
}

footer .bottom_footer img {
    filter: invert(1);
}

footer .bottom_footer .footerIcons {
    display: flex;
    gap: 3px;
}
