@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "NewYork";
  src: url("/fonts/newyork/NewYork.woff2") format("woff2"), url("/fonts/newyork/NewYork.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
    --bg_main: #5e6563;
    --main_color: #E8E8D7;
    --montserrat: "Montserrat", sans-serif;
    --newyorkFont: "NewYork", sans-serif;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

*::selection {
    background-color: var(--main_color);
    color: var(--bg_main);
}

body {
    color: var(--main_color);
    font-family: var(--montserrat);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--newyorkFont);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

.w-screen {
    width: 100vw;
}

.max-w-full {
    max-width: 100%;
}

.w-full {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-fit {
    width: fit-content;
}

.h-fit {
   height: fit-content;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.max-h-screen {
    max-height: 100vh;
}

.h-130 {
    height: 130%;
}

.newyorkFont {
    font-family: var(--newyorkFont);
}

.montserratFont {
    font-family: var(--montserrat);
}

.main_heading {
    font-size: clamp(50px, 15vw, 190px) !important;
}

.sec_heading {
    font-size: clamp(35px, 6.5vw, 70px) !important;
}

.ter_heading {
    font-size: clamp(30px, 3vw, 41px);
}

.small_heading {
    font-size: clamp(23px, 4vw, 30px) !important;
}

.sub_heading {
    font-size: 18px !important;
}

.text_xs {
    font-size: 14px !important;
}

.main_spacer {
    padding-block: 150px !important;
}

.place-items-center {
    place-items: center;
}

.bg_main {
    background-color: var(--bg_main);
}

.main_section {
    background-color: var(--bg_main);
}

.animated_lines {
    overflow-y: hidden;
    width: fit-content;
    height: 100%;
}

.animated_lines p {
    transform: translateY(200%) rotate(4deg);
    margin-bottom: 3px;
    white-space: nowrap;
    transition: transform .4s ease-in-out;
}

.main_section .main_heading {
    color: #E8E8D7;
    width: fit-content;
    position: absolute;
    bottom: -100px;
    left: 10%;
    line-height: .9;
}

.images_overlay .img_wrapper {
    min-width: 700px;
    max-height: 500px;
    width: 100%;
}

.images_overlay .img_wrapper img {
    width: 100%;
    height: 100%;
}

.images_overlay .inner {
    transform: rotate(15deg);
    z-index: 1;
    max-height: 1100px;
}

.images_overlay .inner > div {
    margin-bottom: 2.7rem;
}

.main_section .absolute_block {
    width: 100%;
    z-index: 4;
    height: 400px;
    background-color: var(--bg_main);
}

section.about_section {
    position: relative;
    z-index: 5;
    padding-top: 50px;
}

.linesDiv {
    position: relative;
    overflow: hidden;
}

.underLine::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 2px;
    width: 100%;
    background: rgba(232,232,215,0.35);
}

.linesDiv::before, .linesDiv::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 2px;
    right: 0;
    background: rgba(232,232,215,0.15);
}

.linesDiv::after {
    width: 0px;
    background: rgba(232,232,215,0.35);
    transition: width .4s ease-in-out;
}

.linesDiv:hover::after {
    width: 100%;
}

.linesDiv a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.15);
    clip-path: inset(100% 0 0 0);
    transition: 0.35s ease-in 0s;
}

.linesDiv:hover a {
    padding-left: 20px;
}

.linesDiv:hover a::before {
    clip-path: inset(0 0 0 0);
}

.linesDiv:hover p {
    animation: textAnimator 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 1 forwards;
}

@keyframes textAnimator {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    40% {
        transform: translateY(-60%);
        opacity: 0.3;
    }
    35% {
        transform: translateY(-60%);
        opacity: 0;
    }
    40% {
        opacity: 0;
        transform: translateY(100%);
    }
    43% {
        opacity: 0;
        transform: translateY(100%);
    }
    95% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.chapter_one_section {
    color: #333333;
}

.main_projects_section {
    background: linear-gradient(218deg, #e3e3e3 0%, #e9f0ee 100%);
}

.main_projects_section .project_heading {
    position: sticky;
    top: 0;
    z-index: 2;
}

.main_projects_section .project_heading > div {
    padding: 50px 100px 30px 100px;
    overflow: hidden;
}

.main_projects_section .project_heading .img_wrapper {
    position: absolute;
    height: 100%;
    opacity: .2;
    max-width: 300px;
    transform: translate(0%, -40%);
}

.main_projects_section .project_content {
    color: #333333;
}

.main_projects_section .left_content {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.main_projects_section .project_content .right_content {
    padding: 0 50px;
}

.main_projects_section .project_content .right_content .point {
    width: fit-content;
    margin: 0 auto;
}

.main_projects_section .project_content .right_content .point.main {
    background-color: #fff;
    padding-right: 10px;
}

.main_projects_section .project_content .right_content .point.main .img_wrapper {
    max-width: 400px;
}

.main_projects_section .project_content .right_content .points_wrapper .point {
    padding-bottom: 150px;
}

.main_projects_section .project_content .right_content .points_wrapper .point h1 {
    color: #586166;
}

.main_projects_section .project_content .right_content .points_wrapper .point h1.ter_heading {
    opacity: .15;
}

.main_projects_section .project_content .right_content .points_wrapper .point p {
    bottom: -7px;
    left: 10px;
    color: #586166;
}

.main_projects_section .project_content .right_content .points_wrapper .point .img_wrapper {
    max-width: 350px;
}