@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "NewYork";
  src: url("/fonts/newyork/NewYork.woff2") format("woff2"), url("/fonts/newyork/NewYork.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
    --bg_main: #5e6563;
    --main_color: #E8E8D7;
    --montserrat: "Montserrat", sans-serif;
    --newyorkFont: "NewYork", sans-serif;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

*::selection {
    background-color: var(--main_color);
    color: var(--bg_main);
}

body {
    color: var(--main_color);
    font-family: var(--montserrat);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--newyorkFont);
}

img {
    width: 100%;
    vertical-align: middle;
}

.w-screen {
    width: 100vw;
}

.w-full {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-fit {
    width: fit-content;
}

.h-fit {
   height: fit-content;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.main_heading {
    font-size: clamp(50px, 15vw, 190px) !important;
}

.sec_heading {
    font-size: clamp(35px, 6.5vw, 70px) !important;
}

.ter_heading {
    font-size: clamp(23px, 5vw, 40px) !important;
}

.sub_heading {
    font-size: 17px !important;
}

.main_spacer {
    padding-block: 150px !important;
}

.place-items-center {
    place-items: center;
}

.bg_main {
    background-color: var(--bg_main);
}

.main_section {
    background-color: var(--bg_main);
}

.animated_lines {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

.animated_lines p {
    transform: translateY(200%) rotate(4deg);
    margin-bottom: 3px;
    white-space: nowrap;
    transition: transform .4s ease-in-out;
}

.main_section .main_heading {
    color: #E8E8D7;
    width: fit-content;
    position: absolute;
    bottom: -100px;
    left: 10%;
    line-height: .9;
}

.images_overlay .img_wrapper {
    min-width: 700px;
    max-height: 500px;
    width: 100%;
}

.images_overlay .img_wrapper img {
    width: 100%;
    height: 100%;
}

.images_overlay .inner {
    transform: rotate(15deg);
    z-index: 1;
    max-height: 1100px;
}

.images_overlay .inner > div {
    margin-bottom: 2.7rem;
}

.main_section .absolute_block {
    width: 100%;
    z-index: 4;
    height: 400px;
    background-color: var(--bg_main);
}

section.second_sec {
    position: relative;
    z-index: 5;
    padding-top: 50px;
}

